---
feature_name: Web Bluetooth / Device Disconnect
chrome_version: 50
check_min_version: true
feature_id: 5264933985976320
icon_url: icon.png
index: index.html
---


<ul>
  <li><input id="service" type="text" list="services" autofocus placeholder="Bluetooth Service"></li>
  <li><input id="name" type="text" placeholder="Device Name"></li>
  <li><input id="namePrefix" type="text" placeholder="Device Name Prefix"></li>
  <li><button id="scan">Scan</button></li>
  <li><button id="disconnect">Disconnect</button></li>
  <li><button id="reconnect">Reconnect</button></li>
</ul>


{% include_relative _includes/datalist-services.html %}

{% include output_helper.html %}

<script src="device-disconnect.js"></script>

<script>
  document.querySelector('#scan').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onScanButtonClick();
    }
  });
  document.querySelector('#disconnect').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      onDisconnectButtonClick();
    }
  });
  document.querySelector('#reconnect').addEventListener('click', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      onReconnectButtonClick();
    }
  });
</script>

{% include_relative _includes/utils.html %}
