@font-face {
	font-family: roboto;
	src: url(../font/RobotoCondensed-Bold.ttf);
}

*:focus {
	outline: none !important;
}

::-moz-focus-inner {border:0;}

input[type=text] {
	border-radius: 50px;
}


html {
	overflow-y: scroll;
}

body {
	font-size: 60px;
	font-family: roboto;
	line-height: 60px;
	background-color: white;
	overflow: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	padding:5%;
}

#entrance {
	font-size: 60px;
	font-family: roboto;
	line-height: 60px;
	display: none;
	position: relative;
	width: 90%;
	height: 90%;
	overflow: hidden;
	z-index: 1000;
	text-align: center;
	overflow: hidden;
}

#login {
	font-size: 60px;
	font-family: roboto;
	line-height: 60px;
	border-radius: 100px;
	background-color: #ddd;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

#password {
	font-size: 60px;
	font-family: roboto;
	line-height: 60px;
	padding: 0px 40px;
	font-size: 100px;
	margin: 0 auto;
	line-height: 100px;
	border-radius: 50px;
	width: 500px;
}

#main {

	display: none;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	border-radius: 100px;
	background-color: #ddd;

}

#inputs {
	text-align: center;
	width: 660px;
	margin: 20 auto 20;
	display: inline-block;
}

#websocket {
	font-family: roboto;
	line-height: 60px;
	padding: 0px 20px;
	font-size: 50px;
	margin: 30px 0px;
	line-height: 100px;
	width: 630px;
	border-radius: 50px;
}

#message {
	font-family: roboto;
	line-height: 60px;
	padding: 0px 20px;
	font-size: 50px;
	margin: 30px 0px;
	line-height: 100px;
	width: 630px;
	border-radius: 50px;
}

.breach_button {
	font-size: 60px;
	font-family: roboto;
	line-height: 60px;
	position: relative;
	font-size: 40px;
	margin: 10px 10px 10px 10px;
	font-weight: bold;
	border-radius: 50px;
	border-width: 4px;
	padding: 4px 20px 5px 20px;
	height: 100px;
	width: 260px;
}

#ws_wss {
	color: white;
}

#open_close {
	color: white;
}

#send {
	background-color: green;
	color: white;
}

#reset {
	background-color: red;
	color: white;
}

#responses_outer {
	position: relative;
	height: 500;
	width: 100%;
	border-radius: 50px ! important;
	overflow: hidden;
	z-index: 1000;
}

#responses {
	font-size: 32 !important;
	font-weight: bold !important;
	font-family: monospace !important;
	line-height: 36px !important;
	font-weight: regular !important;
	text-align: left;
	height: 500;
	width: 100%;
	overflow: auto;
	color: white;
	padding: 40px;
	background-color: #000;
	background-image: url("../img/hole.jpg");
	background-repeat: no-repeat;
	background-size: auto 400px;
	background-position: center;
}

#response_text
{
	font-size: 32 !important;
	font-weight: bold !important;
	font-family: monospace !important;
	line-height: 36px !important;
	font-weight: regular !important;
}